nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    
    width: 140px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: darkblue;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;

}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    

}

nav li a:hover {
    background-color: blue;
}

body {
    background-image: url(a5bg.png);
    background-repeat:repeat;
    background-position: top left;
} 

h1 {
    font-family: Arial, Helvetica;
    font-weight: normal;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

h2 {
    font-family: Arial, Helvetica;
    font-weight:bolder;
    margin-right: 20px;
    margin-left: 20px;
}

.bordertop {
    border-top: 4px solid black;
    margin-right: 20px;
    margin-left: 20px;
}

.center {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
}

.bottomtext {
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: darkblue;
}

main {
    background-color: white;
    
    margin: 20px;
    
}

.customtext {
    color: blue;
}

footer {
    border: 4px solid white;
    margin-left: 20px;
    margin-right: 20px;
}